= stylesheet_link_tag "css/toppage", :media => "all"
.firstbox
  .row
    .col-md-6
      .box1
        %p.tit
          阪大生による
          %br
          阪大生のための
          %br
          講義評価サイト
          %br
        %p.ullabus
          ウラバス
    .col-md-6
      .box2
        %a{:class => "toppagebtn", :href => "https://rateclass.herokuapp.com/users/sign_in"}
          %button.loginb
            ログイン
        %a{:class => "toppagebtn", :href => "https://rateclass.herokuapp.com/users/sign_up"}
          %button.registb
            サインアップ

.secondbox
  .row.howtouse
    = image_tag "description.jpg", class: "center-block"
  =render 'news'
.footer
  %p
    Copyright 2017 Ullabus
